:root{
    --primary-color:#1e3d59;
    --primary-light-color: #779ecb;
    --secondary-color: #ff6e40;
    --secondary-color-light:#f90;
    --accent-color:#32CD32;
    --background-color-nav:#f5f0e1;
    --background-color:#fbfaf4;
    --off-white:#ccc;
    --available-color:#47D764;
    --available-color-light:#C6F6D5;
    --away-color:#ffbc2c;
     --text-primary-color:#1A202C;
     --text-secondary-color: #252a2e;
    --error-color:red;
    --error-color-light:#f9d3d2;
    --alert-info-color:#2F86EB;
    --alert-info-color-light:#E9F2FC;
    --alert-warning-color:#FFC021;
    --alert-color-light:#FEEBC8;
    --alert-heading-color:#101020;
    --alert-para-color:#656565;
    --white-color:white;
    --component-para-color:rgb(68, 70, 83);
    --black: #000000;
    --card-bg-color:#eee;
    --card-shw-color:#ebebeb;
    --input-border-color:#d3d3d3;

}
