h1,h2,h3{
    
    line-height: 1.2;
    font-weight: 500;
    margin: 1rem 0;
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2rem;
}
.h3,h3{
    font-size: 2rem;
}
.main-p{
    font-size: 1rem;
    margin: 0.65rem 0;
    line-height: 1.5;
}
.h4{
    font-size:1.8rem;
}
.heading-primary{
    color: var(--text-primary-color);
}
.side-list{
    font-size: 1.3rem;
}


.p-body-lg{
    font-size: 1.3rem;
}
.p-body-md{
    font-size: 1.2rem;
}
.p-body-sm{
    font-size: 0.7rem;
}

.text-underline{
    text-decoration: underline;
}
.small-weight{
    font-weight: 200;
}
.regular-weight{
    font-weight: 500;
}

@media screen and (max-width: 770px){
    
     h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.7rem;
    }
     h3{
        font-size: 1.5rem;
    }
    .body-p-lg{
        font-size: 1.15rem;
    }
}