@import "/components/avatar.css";
@import "/components/badges.css";
@import "/components/images.css";

:root{
    --primary-color:#14213d;
    --secondary-color: #ff6e40;
    --off-white:#edf2f4;
    --available-color:#47D764;
    --away-color:#ffbc2c;
    --error-color:red;
    --white-color:white;
    /* --secondary-color: #FF8A00;  */
}
body{
    background-color:  var(--off-white);
}
.component-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    border: 1px solid var(--white-color);
    padding: 10px;
}

h1{
    text-align: center;
    color: black;
}