.navbar{
display: flex;
height: 5rem;
width: 100%;
position: sticky;
align-items: center;
background-color: var(--bg-color);
color: var(--primary-color);
box-shadow: var(--spacing-2x) var(--spacing-2x) var(--spacing-1-5) rgba(90,118,253,0.13);
z-index: 3;
top: 0; 
grid-area: navbar;
 
}
.logo{
    width: 200px;
    height: 100%;
 display: flex;
    align-items: center;
    justify-content: center; 
    
}

nav img{
   width:100%;
   margin-top: var(--spacing-2);
    
}

.nav-link{
    margin-left: auto;
    font-size: 1.2rem;
    margin-right: var(--spacing-2);
    font-weight: 500;
} 
 .nav-items{
    display: flex;
    gap: var(--spacing-1);
}
 .nav-items li{
padding: var(--spacing-5x) var(--spacing-7x);
 }  
 .nav-items a{
   color: var(--primary-color);
     }

.nav-items li:hover {
        background-color: var(--primary-light-color);
        border-radius:var(--spacing-5x);
        transition: 0.3s ease;
        box-shadow: var(--spacing-2x) var(--spacing-5x) var(--spacing-1) rgba(90,118,253,0.5);
       }
       .nav-items a:hover {
        color: var(--white-color);
       }



