.navbar{
    display: flex;
    padding:  var(--spacing-1);
    background-color:var(--background-color-nav);
     color: var(--primary-color);
    align-items: center;
    box-shadow: 0 2px 1.3px 0 rgba(0,0,0,.2);
    grid-area: navbar;
	min-height: 6vh;
	width: 100%;
	z-index: 3;
    position: sticky; 
	top: 0;
 
}
.logo .title  {
    font-size: 2.5rem;
   font-weight: bold;
} 
.logo .small-title{
    font-size: 1.4rem;
}
.nav-link{
    margin-left: auto;
    font-size: 1.2rem;
    margin-right: var(--mr-2);
    font-weight: 500;
} 
 .nav-items{
    display: flex;
    gap: var(--spacing-1);
}
 .nav-items li{
padding:  var(--spacing-5x)  var(--spacing-8x);
 }  
 .nav-items a{
   color: var(--primary-color);
     }

.nav-items li:hover {
        background-color: var(--light-primary-color);
        border-radius: var(--spacing-10x);
        transition: 0.3s ease;
       }
       