.avatar{
    border-radius: 50%;
    border:2px solid var(--white-color);
    
}
.avatar-lg-size{
    width: 9.5rem;
    height: 9.5rem;
    font-size: 3rem;
}
.avatar-md-size{
    width: 6.5rem;
    height: 6.5rem;
    font-size: 2rem;
}

.avatar-sm-size{
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
}
.avatar-xs-size{
    width: 3rem;
    height: 3rem;
    font-size: 8px;
}

.avatar-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--primary-color);
    color: var(--white-color);
}
