.card-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin:  var(--spacing-1);
    height:auto;
    border-radius: var(--spacing-8x);
    background-color:var(--card-bg-color);
  }
  
  .basic-card .card-dismiss,
  .basic-card .card-badge {
    display: none;
  }
  
  .card-img {
    border-top-left-radius: var(--spacing-8x);
    border-top-right-radius: var(--spacing-8x);
    width: 100%;
    height: auto;
  }
  
  .card-heading {
  font-size: 1.2rem;
  }
  .card-content,
  .card-heading {
    padding: var(--spacing-5x) var(--spacing-10x) 0;
  }
  
  .product-price {
    display: flex;
    align-items: flex-end;
  }
  
  .card-content .price {
    font-size: 1.5rem;
  }
  
  .card-content .previous-price {
    font-size: 1rem;
    padding-left: var(--spacing-1);
    color: var(--text-secondary);
    text-decoration: line-through;
  }
  
  .card-content .discount {
    font-weight: bold;
    color: var(--available-color);
  }
  
  .card-action {
    padding: 0.75rem 0.75rem ;
  }
  
  .card-action button {
    margin-top: var(--spacing-8x);
    font-size: 1rem;
    width: 100%;
  }
  
  /* Card with badge */
  
  .card-w-badge .card-dismiss {
    display: none;
  }
  
  .card-w-badge > div {
    position: relative;
  }
  
  .card-w-badge .card-badge {
    display: block;
    position: absolute;
    top: 1rem;
    left: 0;
    padding: var(--spacing-6x);
    background-color:var(--secondary-color);
    border-radius: 0  var(--spacing-5x)  var(--spacing-5x) 0;
    color:var(--white-color)
  }
  
  /* Card with dismiss */
  
  .card-w-dismiss .card-badge {
    display: none;
  }
  
  .card-w-dismiss > div {
    position: relative;
  }
  
  .card-w-dismiss .card-dismiss {
    display: block;
    position: absolute;
    top: 10px;
  right: 15px;
    font-size: 1.4rem;
    color: var(--white-color);
  }
  
  /* Card with text overlay */
  
  .card-w-overlay {
    position: relative;
  }
  
  .card-w-overlay .overlay-bg {
    opacity: 0.4;
  }
  
  .card-w-overlay .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    padding: var(--spacing-0-8);
    border-radius: var(--spacing-5x);
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  
  /* Text card */
  
  .text-card img {
    display: none;
  }
  
  /* Horizontal card */
  
  .card-horizontal .row {
    display: flex;
  }
  
  .card-horizontal img {
    width: 40%;
  }
  
  .card-horizontal .card-content {
    display: none;
  }
  
  /* Card with shadow */
  
  .card-w-shadow {
    box-shadow: var(--spacing-2x) var(--spacing-2x) var(--spacing-1) var(--spacing-2x) var(--card-shw-color);
  }