.input-container{
  width: 100%;
  margin: var(--spacing-0-5) var(--spacing-1) 0 var(--spacing-1);
  }
  .input-label-container{
      margin: var(--spacing-0-5) var(--spacing-1) 0 var(--spacing-1);
    width: 100%;
  }
  .input-control{
    display: flex;
    flex-direction: column;
  }
  .input-field {
    width: 100%;
    border-radius: var(--spacing-5x);
    font-size: 0.95rem;
    outline: none;
    padding:var(--spacing-0-8) var(--spacing-1);
     box-sizing: border-box;
  }
  .input-active{
     border: var(--spacing-1x) solid var(--input-border-color);
  }

  .input-disabled{
      border: var(--spacing-1x) solid var(--input-border-color);
      background-color: var(--light-primary-color);
  }
  .input-field:focus {
    border: var(--spacing-2x) solid var(--primary-color);
  }

  .form-label{
      font-size: 1.2rem;
      line-height: 2.5rem
    }

    .required:after {
        content:" *";
        color: var(--error-color);
      }

     .btn-container{
         margin-top: var(--spacing-2);
         display: flex;
         align-items: center;
         justify-content: center;
      }
   .form-error{
        color: var(--error-color);
      }
      .form-success{
        color: var(--available-color);
      }