.styled-list-circle{
    list-style:circle ;
}
.list-style-none{
    list-style: none;
    padding-inline-start: 0
}
.styled-list-square{
    list-style:square;
}

.inline-list{
    display: flex;
}

.list-container{
    display: flex;
    gap: var(--spacing-2);
}

.list-box{
    background-color: var(--card-bg-color);
    padding: var(--spacing-1) var(--spacing-1) var(--spacing-1) var(--spacing-2);
}

.stacked-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--spacing-1x) solid var(--primary-color);
    width: 20rem;
    height: auto;
    list-style: none;
}

.stacked-list li{
    padding: var(--spacing-1) var(--spacing-2);
    width: 100%;
    text-align: center;
    background-color: var(--card-bg-color);
    font-size: 1.1rem;
}
.stacked-list li:not(:last-child){
    margin-bottom: var(--spacing-8x);
}
