.star-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.star-rating {
    color:var(--secondary-color);
    font-size: 1.2rem;
  }



  .star-rating-dynamic {
    display:flex;
    flex-direction: row-reverse;
    font-size:2.4rem;
    justify-content:space-around;
    padding:0 .2rem;
    text-align:center;
    width:5em;
  }
  
  .star-rating-dynamic input {
    display:none;
  }
  
  .star-rating-dynamic label {
    color:var(--off-white);
    cursor:pointer;
  }
  .star-rating-dynamic :checked ~ label {
    color:var(--secondary-color-light);
  }
  .star-rating-dynamic label:hover,
  .star-rating-dynamic label:hover ~ label {
    color:var(--secondary-color);
  } 


  