
@import "/styles/Docs-style/main.css";
@import "/styles/Docs-style/navbar.css";
@import "/styles/Docs-style/sidebar.css";
@import "/styles/common-style/base.css";

body{
    background-color:var(--bg-color);
}

.grid-container{

    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	grid-template-areas:
		'navbar navbar navbar navbar navbar  '
		'sidebar main main main main';
	margin-bottom: var(--spacing-1-5);
}


   @media only screen and (max-width: 990px) {
   .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "navbar"
        "sidebar"
        "main";
    }
     body{
         width: 100vw;
     }

     .grid-container {
		width: 100%;
	}
    .navbar .logo{
            width: 150px;
            height: 100%;
            
        
    }
   }

