
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "/styles/Docs-style/main.css";
@import "/styles/Docs-style/navbar.css";
@import "/styles/Docs-style/sidebar.css";
@import "/styles/components-main.css";
/* @import "/styles/common-style/typography.css"; */
@import "/styles/common-style/base.css";


body{
    
    font-family: 'DM Sans', sans-serif;
    background-color: var(--background-color-nav);
  
}

html{
    scroll-behavior: smooth;
}
.grid-container{

    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	grid-template-areas:
		'navbar navbar navbar navbar navbar  '
		'sidebar main main main main';
	margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
   }

li {
    list-style: none;
   }

   .display-flex-col{
     flex-direction: column;
   }
   .text-highlight{

    color: var(--secondary-color);
  }

   @media only screen and (max-width: 550px) {
   .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "navbar"
        "sidebar"
        "main";
    }
     body{
         width: 100vw;
     }

     .grid-container {
		width: 100%;
	}
    .navbar .logo .title{
        font-size: 1.2rem;
    }
    .navbar .logo .small-title{
        font-size: 0.6rem;
    }

    .nav-items{
        display: none;
    }
   }

